@import "src/assets/css/minireset";

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

$mobile: "1224px";
$desktop: "1024px";
$padding-mobile: 0 25px;

$mediadesktop : "(min-width:"+$desktop+")";
$mediamobile : "(max-width:"+$mobile+")";

.desktop-only{
  @media #{$mediamobile}{
    display: none;
  }
}

hr{
  margin-bottom: 120px;
}

.center{
  @media #{$mediadesktop}{
    width: 1170px;
    margin: 0 auto;
  }
  @media #{$mediamobile}{
    padding: $padding-mobile;
  }
}

.header {
  border-bottom: 1px solid #b9b3b3;
  padding: calc(18px + (1.125vw - 18px)/ 2);
  text-align: center;
  margin-bottom: 50px;
  &__anchors-item{
    line-height: 1;
    font-size: calc(18px + (1.125vw - 18px)/ 2);
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
  }
}

.presentation {
  position: relative;
  text-align: center;
  margin-bottom: 150px;
  @media #{$mediamobile}{
    margin-bottom: 35vw;

  }
  &__img{
    text-align: center;
    &-content{
      width: 354px;
      height: 354px;
      object-fit: cover;
      border-radius: 50%;
      @media #{$mediamobile}{
        width: 50vw;
        height: 50vw;
      }
      
    }
  }
  &__text{
    &-content{
      font-size: 48px;
      line-height: 1.2;
      color: #383838;
      @media #{$mediamobile}{
        font-size: 7vw;
        line-height:2 ;
      }
   
    }
    &-span{
      display: block;
      margin-top: -72px;
      font-size: 172px;
      line-height: .9;
      letter-spacing: -12px;
      text-shadow: 9px -9px 0 #fff;
      font-weight: bold;
      @media #{$mediamobile}{
        margin-top: -13vw;
        font-size: 32vw;
        
      }
    }
  }
  &-item-carousel{
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
    @media #{$mediamobile}{
      font-size: 7vw;
      line-height:2 ;
    }
  }
  
  .tns-outer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

.terminal{
  background-color: #000;
  min-height: 40vh;
  padding: 30px;
  margin-bottom: 50px;
  border-radius: 30px;
  &__content-fixed{
    color: white;
    font-family: 'Roboto Mono',monospace;
    // display: inline-block;
    &--coment{
      color: #6a9955; 
    }
    &--var{
      color: #3f9cd6;
    }
    &--varname{
      color: #dcdcaa;
    }
    &--return{
      color: #ba86b5;
    }
    &--obj{
      color: #68d0fe,
    }
    &--objvalue{
      color: #ce9178;
    }
  }
  &__line{
    display: flex;
    margin-bottom: 10px;
    &--column{
      flex-direction: column;
    }
  }
  &__input-user{
    border-right: 2px solid rgba(255,255,255,.75);
    overflow: hidden;
    color: #fff;
    font-family: 'Roboto Mono',monospace;
    white-space: nowrap;
    visibility: hidden;
    &.terminal__input-user--no-border{
      border: none;
    }
  }
  &__input-user,
  &__content-fixed{
    line-height: 20px;
  }
}

.skills{
  margin-bottom: 300px;
  &__title{
    margin-bottom: 30px;
    &-content{
      font-size: 30px;
    }
  }
  &__progress{
    margin-bottom: 20px;
    // width: 180px;

    // text-align: right;
    &-ability{
      font-size: 25px;
      margin-bottom: 10px;
    }
    &-hide-content{
      padding-left: 20px;
      font-size: 15px;
      line-height: 2;
    
    }
  }
  &__double-block{
    display: flex;
    @media #{$mediamobile}{
      flex-direction: column-reverse;
    }
    &-item{
      @media #{$mediadesktop}{
        width: 50%;

      }
      position: relative;
      &:nth-child(1){
        margin-right: 4vw;
      }
      @media #{$mediamobile}{

        &:nth-child(2){
         .skills__title{
           text-align: center;
         }
        }
      }
    }
  }
  &__list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 495px;
  }
  &__carousel{

    &-copys{
      padding: 15px 0 0;
      &-maintitle{
        font-size: 30px;
        line-height: 1.4;
        margin-bottom: 10px;
        span{
          font-size: 20px;
          /* font-style: italic; */
          display: block;
          color: #252525;
        }
      }
      &-description{
        font-size: 15px;
      }
    }
  }
  .tns-nav{
    position: absolute;
    bottom: -41px;
    left: 50%;
    transform: translateX(-50%);
    button{
      background-color: #dddcdc;
      border-radius: 50%;
      height: 10px;
      margin: 0 5px;
      width: 10px;
      &.tns-nav-active{
        background-color: #000;
      }
    }
  }

}

.talk-me{
  padding: 20px;
  background-color: black;
  width: 230px;
  height: 60px;
  border-radius: 97px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  &__hide{
    display: none;
    &-container{
      display: flex;
      margin-bottom: 15px;
      .teste{
        width: 20px;
        height: 20px;
        background-color: red;
        margin-right: 10px;
        display: block;
      }
    }
    &-content{
      color: white;
      font-size: 16px;
      span{
        display: block;
        font-weight: bold;
      }
    }
  }
  &__title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .teste{
      width: 20px;
      height: 20px;
      background-color: red;
      margin-right: 5px;
      display: block;
     
    }
    &-content{
      color: white;
      font-size: 18px;
      font-weight: 500;
    }
    &:after{
      content: "";
      border-style: solid;
      border-color: #fff transparent transparent transparent;
      border-width: 4px 4px 0 4px;
      height: 0;
      width: 0;
    }
  }
  &:hover{
    height: 175px;
    border-radius: unset;
    .talk-me__hide{
      display: block; 
    }
  }
}
/* Animation */
.anim-typewriter{
  visibility: unset;
  animation: typewriter 0.5s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


.progress {
  border: 1px solid blue;
  width: 100px;
  position: fixed;
  top: 10px; right: 10px;
}
.progress > div {
  height: 12px;
  background: blue;
  width: 0%;
}